<div class="main-section__content" ng-controller="EventsCtrl"  ng-init="ShowEvents()">
    <h3 class="main-section__title">Próximos eventos :o! </h3>
    <div class="example centerme pt+++ ">
        <div class="example__content ">
            <div class="text-right" flex-container="row" flex-wrap ng-show="Roles.isAdmin() || Roles.isFounder() ">
                <div flex-item="12" class="p++ pt0 text-right">
                    <a ui-sref="events_create" class="btn btn--m btn--blue btn--raised pull-right" lx-ripple>
                        <i class="mdi mdi-plus"></i>
                        <span> Crear evento</span>
                    </a>
                </div>
            </div>
            <div class="" flex-container="row" flex-wrap>
                <div flex-item="4" class="p++ evento" ng-repeat="evento in eventos">
                    <div class="card">
                        <a ng-href="#/events/{{evento.id}}" class="card-link card__img card__img--top">
                            <img class="image" ng-src="{{evento.urlimagen || 'http://ui.lumapps.com/images/placeholder/2-horizontal.jpg'}}">
                            <span class="date fs-headline tc-white-1 display-block">{{evento.fechainicio | date}}</span>
                        </a>
                        <div class="p+">
                            <span class="fs-subhead tc-black-2 display-block">{{evento.comunidad.name}}</span>
                            <div class="paragraph fs-body-1">
                                <p>
                                    {{evento.name}}
                                </p>
                            </div>
                        </div>
                        <div class="card__actions">
                            <button class="btn btn--m btn--black btn--flat" lx-ripple>Compartir</button>
                            <a class="btn btn--m btn--orange btn--flat" lx-ripple>Más Información</a>
                        </div>
                    </div>
                </div>
                <div id="progress" ng-hide="$scope.eventos.$resolved"></div>
            </div>
        </div>
    </div>
</div>
