<md-sidenav flex class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-theme="default" md-is-locked-open="$mdMedia('gt-md')">
    <header class="nav-header">
        <a ng-href="#/" class="docs-logo" href="#/">
            <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg">
            <h2 class="docs-logotype md-heading">Angular Material</h2>
        </a>
    </header>
    <md-content flex md-theme="default">
        <ul>
            <li></li>
        </ul>
    </md-content>
</md-sidenav>
