<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a class="sidebar-menu__link" ui-sref="events" >
                    <i class="fa fa-fw fa-calendar"></i>
                    <span> Eventos</span>
                </a>
            </li>

            <li>
                <a class="sidebar-menu__link" ui-sref="videos">
                    <i class="fa fa-fw fa-youtube"></i>
                    <span> Youtube </span>
                </a>
            </li>

        </ul>
    </div>
</div>
