<div class="main-section">
    <div class="main-section__content">
        <div class="example">
            <div class="example__content pt0">
                <div class="mt+++" flex-container="column" flex-align="space-between center">
                    <div class="p">
                        <span class="fs-display-3 display-block text-center">Login</span>
                    </div>
                    <div flex-container="row" flex-gutter="24">
                        <div flex-item="6">
                            <lx-text-field label="Nombre de usuario o email">
                                <input type="text" ng-model="username">
                            </lx-text-field>
                        </div>
                    </div>
                    <div flex-container="row" flex-gutter="24">
                        <div flex-item flex-item="6">
                            <lx-text-field label="Contraseña">
                                <input type="password" ng-model="password">
                            </lx-text-field>
                        </div>
                    </div>
                    <div flex-container="row" flex-gutter="24">
                        <div class="mb">
                            <button class="btn btn--l btn--green btn--raised" lx-ripple>Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
