<section data-ng-controller="HomeController">

    <div class="wrapper wrapper-content" data-ng-controller="HomeController">
        <div class="row">

            <div class="col-xs-12">
                    <img alt="MEAN.JS" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3  col-sm-8 col-sm-offset-2 col-xs-12 text-center" src="lib/custom/img/logoNoisegraspBig.png"/>
            </div>

            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        PLANIFICACIÓN Y OPTIMIZACIÓN DEL MIX DE MARKETING
                    </h1>
                    <p>
                            
                            NoiseGrasp es una plataforma de decisión, planificación y control que permite optimizar el mix de marketing, logrando incrementar el retorno en un 30%* sin aumentar el nivel de inversión. 

                            <br/>
                          
                             Nuestra solución te permite identificar cómo invertir considerando el portafolio de productos, mercados, canales y segmentos de clientes con una variedad de medios de marketing 

                    </p>
                </div>
            </div>
        </div>
    </div>
