.apparea {
    margin-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
    color: inherit;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: inline-block;
}

.apparea .header {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    border-bottom: solid 3px rgb(244, 246, 249)
}

.apparea .header>div {
    padding-left: 0;
    padding-right: 0;
}

.apparea .header .title {
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 33px;
    color: rgb(43, 147, 209);
}

.apparea .breadcrumb-wrapper {
    padding-left: 33px;
    background: none;
    padding-bottom: 10px;
    padding-top: 30px;
}

.apparea .breadcrumb-wrapper .breadcrumb {
    background: none;
    margin-top: 18px;
    color: rgb(192, 206, 216);
}

.apparea .body {
    width: calc(100% - 50px);
    display: inline-block;
    border: solid 3px rgb(244, 246, 249);
    margin-left: 25px;
    margin-right: 25px;
    padding: 0;
}

.apparea .body .createedit {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.apparea .body .createedit .atributo {
    padding-top: 40px;
    padding-bottom: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 2px rgb(244, 246, 249);
    border-radius: 4px;
}

.apparea .body .createedit .atributo:before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 3px;
    border-top: 4px solid rgb(244, 246, 249);
}

.apparea .body .createedit .atributo .title h3 {
    display: inline-block;
    font-size: 22px;
    padding-bottom: 4px;
    border-bottom-width: 3px;
    border-bottom-color: rgb(77, 182, 231);
    border-bottom-style: solid;
    border-radius: -3px;
    color: rgb(77, 182, 231);
}

.apparea .body .createedit .atributo .radios .radio input {
    width: 120px;
    margin-left: 11px;
    border: none;
    border-bottom: solid 1px;
    outline-color: rgb(255,255,255);
    text-align: right;
}

.apparea .body .createedit .atributo .value input {
    font-size: 20px;
    color: rgb(155, 169, 178);
    transition: color 500ms;
}

.apparea .body .createedit .atributo .value input:active,
.apparea .body .createedit .atributo .value input:focus {
    color: rgb(103, 106, 108);
}

.apparea .body .createedit .atributo .value textarea {
    font-size: 20px;
}

.apparea .body .createedit .atributo .value {
    font-size: 20px;
}

.apparea .body .createedit .atributo .value .medium span.text {
    font-size: 15px;
}

.apparea .body .createedit .atributo .value .checkbox label {
    padding: 0;
}

.apparea .body .btn-submit {
    margin-top: 30px;
    margin-bottom: 28px;
    font-size: 21px;
}

.apparea .body .createedit .buttons {
    padding-bottom: 25px;
    padding-top: 8px;
}

.apparea .body .createedit .buttons .btn-danger {
    background-color: rgb(255, 255, 255);
    color: rgb(237, 85, 101);
}

.apparea .body .exposition-body .input-group-btn .btn {
    background-color: rgb(77, 182, 231);
}

.modal-footer .btn-danger.modal-button {
    background-color: rgb(77, 182, 231);
    border: rgb(77, 182, 231);
}
